In [1]:
import pandas as pd

In [21]:
dict1={
    "Company":["Google","Microsoft","Incomm","Apple"],
    "application":["google assistent","cortana","alexa","siri"]
}

In [22]:
#dict1["location"]=["Mountain view","Seattle","Atlanta","Virginia"]

In [23]:
df=pd.DataFrame(dict1)
df

     Company       application
0     Google  google assistent
1  Microsoft           cortana
2     Incomm             alexa
3      Apple              siri

In [20]:
df.pivot(index="Company",columns="application",values="location")  ### Rows converted to columns and columns converted to rows

application    alexa  cortana google assistent      siri
Company
Apple            NaN      NaN              NaN  Virginia
Google           NaN      NaN    Mountain view       NaN
Incomm       Atlanta      NaN              NaN       NaN
Microsoft        NaN  Seattle              NaN       NaN

In [24]:
df.pivot(index="Company",columns="application")

Empty DataFrame
Columns: []
Index: [Apple, Google, Incomm, Microsoft]